html {
  font-size: 62.5%;
}

body {
  font-family: "Shadows Into Light", cursive;
  font-size: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
}

/*Envelope*/

.envelope {
  height: 550px;
  width: 480px;
  align-items: flex-end;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(213, 213, 213, 0) 0%,
    rgba(207, 207, 207, 0.6867121848739496) 85%
  );
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  position: relative;
  transform-style: preserve-3d;
}

.envelope:hover {
  transform: perspective(700px) rotateY(180deg);
  transition: all 1.7s ease-in-out;
  transform-origin: 50%;
}

.stamp {
  height: 10rem;
  margin: 5rem;
  transform: rotate(10deg);
  backface-visibility: hidden;
}

.inside {
  clip-path: polygon(2% 0, 98% 0, 60% 100%, 40% 100%);
  height: 43%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.card {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  transform: rotateY(180deg);
}

.card::before {
  content: "";
  height: 100%;
  width: 100%;
  z-index: 1;
  clip-path: polygon(33% 35%, 67% 35%, 100% 100%, 0% 100%);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(213, 213, 213, 0) 0%,
    rgba(201, 201, 201, 0.9051995798319328) 0%,
    rgba(196, 196, 196, 0.8407738095238095) 45%
  );
  position: absolute;
}

.top {
  clip-path: polygon(0 0, 100% 0, 52% 100%, 48% 100%);
  background: lightgray;
  margin-top: 2px;
  position: absolute;
  height: 55%;
  width: 100%;
  border-radius: 1px;
  transform-origin: top;
  z-index: 1;
}

.envelope:hover .card .top {
  transform: rotateX(180deg);
  transition: 5s;
}
